# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore emacs backup and autosave files
*~
.#*

# Ignore executables
**/bin/*

# Ignore build dirs
**/build/*

# Ignore internal dirs
**/internal/*

# Ignore doxygen-generated output
doc/ref

# Ignore local makefiles
**/*local.mk
