/usr/lib/<XD:PKG_NAME>/MFM/bin/mfms /usr/bin/mfms<XD:MAGIC_PKG_VERSION>
/usr/lib/<XD:PKG_NAME>/MFM/bin/mfzrun /usr/bin/mfzrun<XD:MAGIC_PKG_VERSION>
/usr/lib/<XD:PKG_NAME>/MFM/bin/mfzmake /usr/bin/mfzmake<XD:MAGIC_PKG_VERSION>
/usr/lib/<XD:PKG_NAME>/ULAM/bin/culam /usr/bin/culam<XD:MAGIC_PKG_VERSION>
/usr/lib/<XD:PKG_NAME>/ULAM/bin/ulam /usr/bin/ulam<XD:MAGIC_PKG_VERSION>
